block profilecontent

    link(rel='stylesheet', href='/stylesheets/table.css')


    table(class="tabelle")
        caption Lager- und Unterwegsbestand
            thead
                tr
                    th Takt
                    th schwarz
                    th weiß
            tbody
                - var versuch = [{takt: '1', white: 'w1', black: 'b1'},{takt: '2', white: 'w2', black: 'b2'}, {takt: '3', white: 'w3', black: 'b3'}];
                each item in versuch
                    tr
                        td= item.takt
                        td= item.white
                        td= item.black

                        td(class="button")
                            button(class="button2") bearbeiten
                tr
                    td(class="Leerzeile")

                tr
                    td(class="input")
                        input(id="takt" placeholder="Takt")
                    td(class="input")
                        input(id="schwarz" placeholder="Menge")
                    td(class="input")
                        input(id="weiß" placeholder="Menge")

                    td(class="button")
                        button(class="button2") speichern