block profilecontent

    link(rel='stylesheet', href='/stylesheets/table.css')

    table(class="tabelle")
        caption Lagerzugang
            thead
                tr
                    th Takt
                    th schwarz
                    th weiß
                    th rot
            tbody
                - var versuch = [{takt: '1', white: 'w1', black: 'b1', red: 'r1'},{takt: '2', white: 'w2', black: 'b2', red: 'r2'}, {takt: '3', white: 'w3', black: 'b3', red: 'r3'}, {takt: '4', white: 'w4', black: 'b4', red: 'r4'}];
                each item in versuch
                    tr
                        td= item.takt
                        td= item.white
                        td= item.black
                        td= item.red

                        td(class="button")
                            button bearbeiten
                tr
                    td(class="Leerzeile")

                tr
                    td(class="input")
                        input(id="takt" placeholder="Takt")
                    td(class="input")
                        input(id="schwarz" placeholder="schwarz")
                    td(class="input")
                        input(id="weiß" placeholder="weiß")
                    td(class="input")
                        input(id="rot" placeholder="rot")

                    td(class="button")
                        button speichern





    table(class="tabelle")
        caption Lagerzugang
        thead
            tr
                th Takt
                th Schwarz
                th Weiß


        tbody
            tr
                th
                    label(class="takt1") 1
                td
                    input(name="schwarz1")
                td
                    input(name="weiß1")

            tr
                th
                    label(class="takt2") 2
                td
                    input(name="schwarz2")
                td
                    input(name="weiß2")

            tr
                th
                    label(class="takt3") 3
                td
                    input(name="schwarz3")
                td
                    input(name="weiß3")

            tr
                th
                    label(class="takt4") 4
                td
                    input(name="schwarz4")
                td
                    input(name="weiß4")

            tr
                th
                    label(class="takt7") 5
                td
                    input(name="schwarz5")
                td
                    input(name="weiß5")

            tr
                th
                    label(class="takt6") 6
                td
                    input(name="schwarz6")
                td
                    input(name="weiß6")

            tr
                th
                    label(class="takt7") 7
                td
                    input(name="schwarz7")
                td
                    input(name="weiß7")

            tr
                th
                    label(class="takt8") 8
                td
                    input(name="schwarz8")
                td
                    input(name="weiß8")

            tr
                th
                    label(class="takt9") 9
                td
                    input(name="schwarz9")
                td
                    input(name="weiß9")

            tr
                th
                    label(class="takt10") 10
                td
                    input(name="schwarz10")
                td
                    input(name="weiß10")


    table(class="tabelle")
        caption LagerUndUnterwegsbestand
        thead
            tr
                th Takt
                th Schwarz
                th Weiß


        tbody
            tr
                th
                    label(class="takt1") 1
                td
                    input(name="schwarz1")
                td
                    input(name="weiß1")

            tr
                th
                    label(class="takt2") 2
                td
                    input(name="schwarz2")
                td
                    input(name="weiß2")

            tr
                th
                    label(class="takt3") 3
                td
                    input(name="schwarz3")
                td
                    input(name="weiß3")

            tr
                th
                    label(class="takt4") 4
                td
                    input(name="schwarz4")
                td
                    input(name="weiß4")

            tr
                th
                    label(class="takt7") 5
                td
                    input(name="schwarz5")
                td
                    input(name="weiß5")

            tr
                th
                    label(class="takt6") 6
                td
                    input(name="schwarz6")
                td
                    input(name="weiß6")

            tr
                th
                    label(class="takt7") 7
                td
                    input(name="schwarz7")
                td
                    input(name="weiß7")

            tr
                th
                    label(class="takt8") 8
                td
                    input(name="schwarz8")
                td
                    input(name="weiß8")

            tr
                th
                    label(class="takt9") 9
                td
                    input(name="schwarz9")
                td
                    input(name="weiß9")

            tr
                th
                    label(class="takt10") 10
                td
                    input(name="schwarz10")
                td
                    input(name="weiß10")


    table(class="tabelle")
        caption BestellübersichtArtikel
        thead
            tr
                th Nr.
                th Menge
                th Wunschtermin
                th bestätigter Termin


        tbody
            tr
                th
                    label 101
                td
                    label 6
                td
                    label 1
                td
                    label 1

            tr
                th
                    label 102
                td
                    label 6
                td
                    label 2
                td
                    label 2

            tr
                th
                    label 103
                td
                    label 8
                td
                    label 3
                td
                    label 3

            tr
                th
                    label 104
                td
                    label 4
                td
                    label 4
                td
                    label 4

            tr
                th
                    label 105
                td
                    label 7
                td
                    label 5
                td
                    label 5

            tr
                th
                    label 106
                td
                    label 4
                td
                    label 6
                td
                    label 6

            tr
                th
                    input(name="Nr.1")
                td
                    input(name="Menge1")
                td
                    input(name="Wunsch1")
                td
                    input(name="bestätigt1")

            tr
                th
                    input(name="Nr.2")
                td
                    input(name="Menge2")
                td
                    input(name="Wunsch2")
                td
                    input(name="bestätigt2")

            tr
                th
                    input(name="Nr.3")
                td
                    input(name="Menge3")
                td
                    input(name="Wunsch3")
                td
                    input(name="bestätigt3")

            tr
                th
                    input(name="Nr.4")
                td
                    input(name="Menge4")
                td
                    input(name="Wunsch4")
                td
                    input(name="bestätigt4")

            tr
                th
                    input(name="Nr.5")
                td
                    input(name="Menge5")
                td
                    input(name="Wunsch5")
                td
                    input(name="bestätigt5")

            tr
                th
                    input(name="Nr.6")
                td
                    input(name="Menge6")
                td
                    input(name="Wunsch6")
                td
                    input(name="bestätigt6")

            tr
                th
                    input(name="Nr.7")
                td
                    input(name="Menge7")
                td
                    input(name="Wunsch7")
                td
                    input(name="bestätigt7")

            tr
                th
                    input(name="Nr.8")
                td
                    input(name="Menge8")
                td
                    input(name="Wunsch8")
                td
                    input(name="bestätigt8")

            tr
                th
                    input(name="Nr.9")
                td
                    input(name="Menge9")
                td
                    input(name="Wunsch9")
                td
                    input(name="bestätigt9")

            tr
                th
                    input(name="Nr.10")
                td
                    input(name="Menge10")
                td
                    input(name="Wunsch10")
                td
                    input(name="bestätigt10")

            tr
                th
                    input(name="Nr.11")
                td
                    input(name="Menge11")
                td
                    input(name="Wunsch11")
                td
                    input(name="bestätigt11")

            tr
                th
                    input(name="Nr.12")
                td
                    input(name="Menge12")
                td
                    input(name="Wunsch12")
                td
                    input(name="bestätigt12")

            tr
                th
                    input(name="Nr.13")
                td
                    input(name="Menge13")
                td
                    input(name="Wunsch13")
                td
                    input(name="bestätigt13")