block profilecontent

    link(rel='stylesheet', href='/stylesheets/table.css')

    table(class="tabelle")
        caption Bestellübersicht Artikel
            thead
                tr
                    th Nr.
                    th Menge
                    th Wunschtermin
                    th bestätigt
            tbody
                //- var versuch = [{nr: '1', menge: 'w1', wunschtermin: 'b1', bestätigt: 'r1'},{nr: '1', menge: 'w1', wunschtermin: 'b1', bestätigt: 'r1'}, {nr: '1', menge: 'w1', wunschtermin: 'b1', bestätigt: 'r1'}, {nr: '1', menge: 'w1', wunschtermin: 'b1', bestätigt: 'r1'}];
                each item in currentTable
                    tr
                        td= item.bestellnr
                        td= item.menge
                        td= item.wunschtermin
                        td= item.bestätigtertermin

                        td(class="button")
                            button(class="button2") bearbeiten
                tr
                    td(class="Leerzeile")

                tr
                    td(class="input")
                        input(id="bestellnr" placeholder="Nr.")
                    td(class="input")
                        input(id="menge" placeholder="Menge")
                    td(class="input")
                        input(id="wunschtermin" placeholder="Takt")
                    td(class="input")
                        input(id="bestätigterTermin" placeholder="Takt")

                    td(class="button")
                        button(class="button2") speichern
