extends profile

block profilecontent

    link(rel='stylesheet', href='/stylesheets/beschaffung.css')

    table(id="Lagerbestand")
        caption Lagerbestand
        thead
            tr
                th(scope="col" rowspan="2") Takt
                th(scope="colgroup" colspan="3") in Eingangsprüfung
                th(scope="colgroup" colspan="3") vor Eingangsprüfung

            tr
                th schwarz
                th weiß
                th rot
                th schwarz
                th weiß
                th rot

        tbody
            tr
                th
                    label 1
                td
                    input(name="schwarzIn1")
                td
                    input(name="weißIn1")
                td
                    input(name="rotIn1")
                td
                    input(name="schwarzVor1")
                td
                    input(name="weißVor1")
                td
                    input(name="rotVor1")

            tr
                th
                    label 2
                td
                    input(name="schwarzIn2")
                td
                    input(name="weißIn2")
                td
                    input(name="rotIn2")
                td
                    input(name="schwarzVor2")
                td
                    input(name="weißVor2")
                td
                    input(name="rotVor2")

            tr
                th
                    label 3
                td
                    input(name="schwarzIn3")
                td
                    input(name="weißIn3")
                td
                    input(name="rotIn3")
                td
                    input(name="schwarzVor3")
                td
                    input(name="weißVor3")
                td
                    input(name="rotVor3")

            tr
                th
                    label 4
                td
                    input(name="schwarzIn4")
                td
                    input(name="weißIn4")
                td
                    input(name="rotIn4")
                td
                    input(name="schwarzVor4")
                td
                    input(name="weißVor4")
                td
                    input(name="rotVor4")

            tr
                th
                    label 5
                td
                    input(name="schwarzIn5")
                td
                    input(name="weißIn5")
                td
                    input(name="rotIn5")
                td
                    input(name="schwarzVor5")
                td
                    input(name="weißVor5")
                td
                    input(name="rotVor5")

            tr
                th
                    label 6
                td
                    input(name="schwarzIn6")
                td
                    input(name="weißIn6")
                td
                    input(name="rotIn6")
                td
                    input(name="schwarzVor6")
                td
                    input(name="weißVor6")
                td
                    input(name="rotVor6")

            tr
                th
                    label 7
                td
                    input(name="schwarzIn7")
                td
                    input(name="weißIn7")
                td
                    input(name="rotIn7")
                td
                    input(name="schwarzVor7")
                td
                    input(name="weißVor7")
                td
                    input(name="rotVor7")

            tr
                th
                    label 8
                td
                    input(name="schwarzIn8")
                td
                    input(name="weißIn8")
                td
                    input(name="rotIn8")
                td
                    input(name="schwarzVor8")
                td
                    input(name="weißVor8")
                td
                    input(name="rotVor8")

            tr
                th
                    label 9
                td
                    input(name="schwarzIn9")
                td
                    input(name="weißIn9")
                td
                    input(name="rotIn9")
                td
                    input(name="schwarzVor9")
                td
                    input(name="weißVor9")
                td
                    input(name="rotVor9")

            tr
                th
                    label 10
                td
                    input(name="schwarzIn10")
                td
                    input(name="weißIn10")
                td
                    input(name="rotIn10")
                td
                    input(name="schwarzVor10")
                td
                    input(name="weißVor10")
                td
                    input(name="rotVor10")



    table(id="BestellübersichtTeile")
        caption BestellübersichtTeile
        thead
            tr
                th(scope="col" rowspan="2") Takt
                th(scope="colgroup" colspan="4") Schwarz
                th(scope="colgroup" colspan="4") Weiß
                th(scope="colgroup" colspan="4") Rot

            tr
                th Nr.
                th Menge
                th Plan Takt
                th Ist Takt
                th Nr.
                th Menge
                th Plan Takt
                th Ist Takt
                th Nr.
                th Menge
                th Plan Takt
                th Ist Takt

        tbody
            tr
                th
                    label -5
                td
                    label 1
                td
                    label 9
                td
                    label 1
                td
                    input(name="schwarzIst-5")

            tr
                th
                    label -4
                td
                    label 4
                td
                    label 9
                td
                    label 2
                td
                    input(name="schwarzIst-4")
                td
                    label 2
                td
                    label 8
                td
                    label 1
                td
                    input(name="weißIst-4")

            tr
                th
                    label -3
                td
                    label 7
                td
                    label 9
                td
                    label 3
                td
                    input(name="schwarzIst-3")
                td
                    label 5
                td
                    label 8
                td
                    label 2
                td
                    input(name="weißIst-3")