extends profile

block profilecontent

    link(rel='stylesheet', href='/stylesheets/beschaffung.css')

    div
        table
            thead
            tr: th Posts

            tbody
                each s