block profilecontent

    link(rel='stylesheet', href='/stylesheets/checklist.css')
    ol
        each item in rows

            li
                    input(type="checkbox")
                    label=item








