extends profile

block profilecontent

    link(rel='stylesheet', href='/stylesheets/distribution.css')

    table(id="Lagerzugang")
        caption Lagerzugang
        thead
            tr
                th Takt
                th Schwarz
                th Weiß


        tbody
            tr
                th
                    label(class="takt1") 1
                td
                    input(name="schwarz1")
                td
                    input(name="weiß1")

            tr
                th
                    label(class="takt2") 2
                td
                    input(name="schwarz2")
                td
                    input(name="weiß2")

            tr
                th
                    label(class="takt3") 3
                td
                    input(name="schwarz3")
                td
                    input(name="weiß3")

            tr
                th
                    label(class="takt4") 4
                td
                    input(name="schwarz4")
                td
                    input(name="weiß4")

            tr
                th
                    label(class="takt7") 5
                td
                    input(name="schwarz5")
                td
                    input(name="weiß5")

            tr
                th
                    label(class="takt6") 6
                td
                    input(name="schwarz6")
                td
                    input(name="weiß6")

            tr
                th
                    label(class="takt7") 7
                td
                    input(name="schwarz7")
                td
                    input(name="weiß7")

            tr
                th
                    label(class="takt8") 8
                td
                    input(name="schwarz8")
                td
                    input(name="weiß8")

            tr
                th
                    label(class="takt9") 9
                td
                    input(name="schwarz9")
                td
                    input(name="weiß9")

            tr
                th
                    label(class="takt10") 10
                td
                    input(name="schwarz10")
                td
                    input(name="weiß10")


    table(id="LagerUndUnterwegsbestand")
        caption LagerUndUnterwegsbestand
        thead
            tr
                th Takt
                th Schwarz
                th Weiß


        tbody
            tr
                th
                    label(class="takt1") 1
                td
                    input(name="schwarz1")
                td
                    input(name="weiß1")

            tr
                th
                    label(class="takt2") 2
                td
                    input(name="schwarz2")
                td
                    input(name="weiß2")

            tr
                th
                    label(class="takt3") 3
                td
                    input(name="schwarz3")
                td
                    input(name="weiß3")

            tr
                th
                    label(class="takt4") 4
                td
                    input(name="schwarz4")
                td
                    input(name="weiß4")

            tr
                th
                    label(class="takt7") 5
                td
                    input(name="schwarz5")
                td
                    input(name="weiß5")

            tr
                th
                    label(class="takt6") 6
                td
                    input(name="schwarz6")
                td
                    input(name="weiß6")

            tr
                th
                    label(class="takt7") 7
                td
                    input(name="schwarz7")
                td
                    input(name="weiß7")

            tr
                th
                    label(class="takt8") 8
                td
                    input(name="schwarz8")
                td
                    input(name="weiß8")

            tr
                th
                    label(class="takt9") 9
                td
                    input(name="schwarz9")
                td
                    input(name="weiß9")

            tr
                th
                    label(class="takt10") 10
                td
                    input(name="schwarz10")
                td
                    input(name="weiß10")


    table(id="Auftragsbearbeitung")
        caption Auftragsbearbeitung
        thead
            tr
                th Takt
                th Anzahl Neuaufträge


        tbody
            tr
                th
                    label(class="takt1") 1
                td
                    input(name="AnzahlNeuaufträge1")

            tr
                th
                    label(class="takt2") 2
                td
                    input(name="AnzahlNeuaufträge2")

            tr
                th
                    label(class="takt3") 3
                td
                    input(name="AnzahlNeuaufträge3")

            tr
                th
                    label(class="takt4") 4
                td
                    input(name="AnzahlNeuaufträge4")

            tr
                th
                    label(class="takt5") 5
                td
                    input(name="AnzahlNeuaufträge5")

            tr
                th
                    label(class="takt6") 6
                td
                    input(name="AnzahlNeuaufträge6")

            tr
                th
                    label(class="takt7") 7
                td
                    input(name="AnzahlNeuaufträge7")

            tr
                th
                    label(class="takt8") 8
                td
                    input(name="AnzahlNeuaufträge8")

            tr
                th
                    label(class="takt9") 9
                td
                    input(name="AnzahlNeuaufträge9")

            tr
                th
                    label(class="takt10") 10
                td
                    input(name="AnzahlNeuaufträge10")