extends profile

block profilecontent

    link(rel='stylesheet', href='/stylesheets/endmontage.css')

    table(id="Lagerbestand")
        caption Lagerbestand
        thead
            tr
                th Takt
                th schwarz
                th weiß
                th rot
        tbody
            tr
                th
                    label(class="takt1b") 1
                td
                    input(class="takt1b" name="schwarz1b")
                td
                    input(class="takt1b" name="weiß1b")
                td
                    input(class="takt1b" name="rot1b")
            tr
                th
                    label(class="takt2b") 2
                td
                    input(class="takt2b" name="schwarz2b")
                td
                    input(class="takt2b" name="weiß2b")
                td
                    input(class="takt2b" name="rot2b")
            tr
                th
                    label(class="takt3b") 3
                td
                    input(class="takt3b" name="schwarz3b")
                td
                    input(class="takt3b" name="weiß3b")
                td
                    input(class="takt3b" name="rot3b")
            tr
                th
                    label(class="takt4b") 4
                td
                    input(class="takt4b" name="schwarz4b")
                td
                    input(class="takt4b" name="weiß4b")
                td
                    input(class="takt4b" name="rot4b")
            tr
                th
                    label(class="takt5b") 5
                td
                    input(class="takt5b" name="schwarz5b")
                td
                    input(class="takt5b" name="weiß5b")
                td
                    input(class="takt5b" name="rot5b")
            tr
                th
                    label(class="takt6b") 6
                td
                    input(class="takt6b" name="schwarz6b")
                td
                    input(class="takt6b" name="weiß6b")
                td
                    input(class="takt6b" name="rot6b")

    table(id="Lagerzugang")
        caption Lagerzugang
        thead
            tr
                th Takt
                th schwarz
                th weiß
                th rot
        tbody
            tr
                th
                    label(class="takt1z") 1
                td
                    input(class="takt1z" name="schwarz1z")
                td
                    input(class="takt1z" name="weiß1z")
                td
                    input(class="takt1z" name="rot1z")
            tr
                th
                    label(class="takt2z") 2
                td
                    input(class="takt2z" name="schwarz2z")
                td
                    input(class="takt2z" name="weiß2z")
                td
                    input(class="takt2z" name="rot2z")
            tr
                th
                    label(class="takt3z") 3
                td
                    input(class="takt3z" name="schwarz3z")
                td
                    input(class="takt3z" name="weiß3z")
                td
                    input(class="takt3z" name="rot3z")
            tr
                th
                    label(class="takt4z") 4
                td
                    input(class="takt4z" name="schwarz4z")
                td
                    input(class="takt4z" name="weiß4z")
                td
                    input(class="takt4z" name="rot4z")