extends layout

block content


    button
        a(href= "../lieferant") mail

    button beschreibung
    button tabellen

    p testjana: profile
    |Übergabe Profil-Parameter: #{param}

    block checklist
