
block profilecontent

    link(rel='stylesheet', href='/stylesheets/kunde.css')

    table(id="Auftragsübersicht")
        caption Auftragsübersicht
        thead
            tr
                th Nr.
                th Artikel
                th Menge
                th Terminwunsch
                th Termin bestätigt
                th Termin erhalten

        tbody
            tr
                th
                    label 1
                td
                    label S
                td
                    label 3
                td
                    label 1
                td
                    label 1
                td
                    input(class="takt1" name="Termin erhalten1")

            tr
                th
                    label(class="takt2") 2
                td
                    label S
                td
                    label 4
                td
                    label 1
                td
                    label 1
                td
                    input(class="takt2" name="Termin erhalten2")

            tr
                th
                    label 3
                td
                    label S
                td
                    label 5
                td
                    label 3
                td
                    label 3
                td
                    input(class="takt3" name="Termin erhalten3")

            tr
                th
                    label(class="takt4") 4
                td
                    label S
                td
                    label 2
                td
                    label 5
                td
                    label 5
                td
                    input(class="takt4" name="Termin erhalten4")

            tr
                th
                    label(class="takt5") 5
                td
                    label W
                td
                    label 2
                td
                    label 3
                td
                    label 3
                td
                    input(class="takt5" name="Termin erhalten5")

            tr
                th
                    label(class="takt6") 6
                td
                    label S
                td
                    label 3
                td
                    label 5
                td
                    label 5
                td
                    input(class="takt6" name="Termin erhalten6")

            tr
                th
                    label(class="takt7") 7
                td
                    label W
                td
                    label 6
                td
                    label 1
                td
                    label 1
                td
                    input(class="takt7" name="Termin erhalten7")

            tr
                th
                    label(class="takt8") 8
                td
                    label S
                td
                    label 3
                td
                    label 7
                td
                    input(class="takt8" name="Termin bestätigt8")
                td
                    input(class="takt8" name="Termin erhalten8")

            tr
                th
                    label(class="takt9") 9
                td
                    label W
                td
                    label 6
                td
                    label 2
                td
                    label 2
                td
                    input(class="takt9" name="Termin erhalten9")

            tr
                th
                    label(class="takt10") 10
                td
                    label S
                td
                    label 2
                td
                    label 5
                td
                    label 5
                td
                    input(name="Termin erhalten10")

            tr
                th
                    label(class="takt11") 11
                td
                    label S
                td
                    label 2
                td
                    label 7
                td
                    input(name="Termin bestätigt11")
                td
                    input(name="Termin erhalten11")

            tr
                th
                    label(class="takt12") 12
                td
                    label W
                td
                    label 5
                td
                    label 3
                td
                    input(name="Termin bestätigt12")
                td
                    input(name="Termin erhalten12")

            tr
                th
                    label(class="takt13") 13
                td
                    input(name="Artikel13")
                td
                    input(name="Menge13")
                td
                    input(name="Terminwunsch13")
                td
                    input(name="Termin bestätigt13")
                td
                    input(name="Termin erhalten13")

            tr
                th
                    label(class="takt14") 14
                td
                    input(name="Artikel14")
                td
                    input(name="Menge14")
                td
                    input(name="Terminwunsch14")
                td
                    input(name="Termin bestätigt14")
                td
                    input(name="Termin erhalten14")

            tr
                th
                    label(class="takt15") 15
                td
                    input(name="Artikel15")
                td
                    input(name="Menge15")
                td
                    input(name="Terminwunsch15")
                td
                    input(name="Termin bestätigt15")
                td
                    input(name="Termin erhalten15")

            tr
                th
                    label(class="takt16") 16
                td
                    input(name="Artikel16")
                td
                    input(name="Menge16")
                td
                    input(name="Terminwunsch16")
                td
                    input(name="Termin bestätigt16")
                td
                    input(name="Termin erhalten16")

            tr
                th
                    label(class="takt17") 17
                td
                    input(name="Artikel17")
                td
                    input(name="Menge17")
                td
                    input(name="Terminwunsch17")
                td
                    input(name="Termin bestätigt17")
                td
                    input(name="Termin erhalten17")

            tr
                th
                    label(class="takt18") 18
                td
                    input(name="Artikel18")
                td
                    input(name="Menge18")
                td
                    input(name="Terminwunsch18")
                td
                    input(name="Termin bestätigt18")
                td
                    input(name="Termin erhalten18")

            tr
                th
                    label(class="takt19") 19
                td
                    input(name="Artikel19")
                td
                    input(name="Menge19")
                td
                    input(name="Terminwunsch19")
                td
                    input(name="Termin bestätigt19")
                td
                    input(name="Termin erhalten19")

            tr
                th
                    label(class="takt20") 20
                td
                    input(name="Artikel20")
                td
                    input(name="Menge20")
                td
                    input(name="Terminwunsch20")
                td
                    input(name="Termin bestätigt20")
                td
                    input(name="Termin erhalten20")

            tr
                th
                    label(class="takt21") 21
                td
                    input(name="Artikel21")
                td
                    input(name="Menge21")
                td
                    input(name="Terminwunsch21")
                td
                    input(name="Termin bestätigt21")
                td
                    input(name="Termin erhalten21")

            tr
                th
                    label(class="takt22") 22
                td
                    input(name="Artikel22")
                td
                    input(name="Menge22")
                td
                    input(name="Terminwunsch22")
                td
                    input(name="Termin bestätigt22")
                td
                    input(name="Termin erhalten22")

            tr
                th
                    label(class="takt23") 23
                td
                    input(name="Artikel23")
                td
                    input(name="Menge23")
                td
                    input(name="Terminwunsch23")
                td
                    input(name="Termin bestätigt23")
                td
                    input(name="Termin erhalten23")

            tr
                th
                    label(class="takt24") 24
                td
                    input(name="Artikel24")
                td
                    input(name="Menge24")
                td
                    input(name="Terminwunsch24")
                td
                    input(name="Termin bestätigt24")
                td
                    input(name="Termin erhalten24")

            tr
                th
                    label(class="takt25") 25
                td
                    input(name="Artikel25")
                td
                    input(name="Menge25")
                td
                    input(name="Terminwunsch25")
                td
                    input(name="Termin bestätigt25")
                td
                    input(name="Termin erhalten25")



    table(id="Umsatz")
        caption Umsatz
        thead
            tr
                th Takt
                th Schwarz
                th Weiß


        tbody
            tr
                th
                    label(class="takt1") 1
                td
                    input(name="schwarz1")
                td
                    input(name="weiß1")

            tr
                th
                    label(class="takt2") 2
                td
                    input(name="schwarz2")
                td
                    input(name="weiß2")

            tr
                th
                    label(class="takt3") 3
                td
                    input(name="schwarz3")
                td
                    input(name="weiß3")

            tr
                th
                    label(class="takt4") 4
                td
                    input(name="schwarz4")
                td
                    input(name="weiß4")

            tr
                th
                    label(class="takt7") 5
                td
                    input(name="schwarz5")
                td
                    input(name="weiß5")

            tr
                th
                    label(class="takt6") 6
                td
                    input(name="schwarz6")
                td
                    input(name="weiß6")

            tr
                th
                    label(class="takt7") 7
                td
                    input(name="schwarz7")
                td
                    input(name="weiß7")

            tr
                th
                    label(class="takt8") 8
                td
                    input(name="schwarz8")
                td
                    input(name="weiß8")

            tr
                th
                    label(class="takt9") 9
                td
                    input(name="schwarz9")
                td
                    input(name="weiß9")

            tr
                th
                    label(class="takt10") 10
                td
                    input(name="schwarz10")
                td
                    input(name="weiß10")



    table(id="Lieferkostenverzug")
        caption Lieferkostenverzug
        thead
            tr
                th Takt
                th Schwarz
                th Weiß


        tbody
            tr
                th
                    label(class="takt1") 1
                td
                    input(name="schwarz1")
                td
                    input(name="weiß1")

            tr
                th
                    label(class="takt2") 2
                td
                    input(name="schwarz2")
                td
                    input(name="weiß2")

            tr
                th
                    label(class="takt3") 3
                td
                    input(name="schwarz3")
                td
                    input(name="weiß3")

            tr
                th
                    label(class="takt4") 4
                td
                    input(name="schwarz4")
                td
                    input(name="weiß4")

            tr
                th
                    label(class="takt7") 5
                td
                    input(name="schwarz5")
                td
                    input(name="weiß5")

            tr
                th
                    label(class="takt6") 6
                td
                    input(name="schwarz6")
                td
                    input(name="weiß6")

            tr
                th
                    label(class="takt7") 7
                td
                    input(name="schwarz7")
                td
                    input(name="weiß7")

            tr
                th
                    label(class="takt8") 8
                td
                    input(name="schwarz8")
                td
                    input(name="weiß8")

            tr
                th
                    label(class="takt9") 9
                td
                    input(name="schwarz9")
                td
                    input(name="weiß9")

            tr
                th
                    label(class="takt10") 10
                td
                    input(name="schwarz10")
                td
                    input(name="weiß10")