extends profile

block profilecontent
    p Mailbox: #{content}

    

    form(method='POST' action='/mailbox')


            input(type='text', placeholder='z.B. Kunde'  name='von') Von:


            input(type='number', placeholder='z.B. 1' name='nr')


            input(type='number', placeholder='z.B Takt 4' name='ausstellungstakt')


            input(type='text', placeholder='z.B schwarz' name='artikel')

        button(type='submit') Speichern

