extends layout

block content

    link(rel='stylesheet', href='/stylesheets/profilechoice.css')


    div.firstclass
        p Arbeitsplatzauswahl

    div.secondclass

        button(type= "submit" onclick= ".../beschaffung") Beschaffung
        button(type= "submit" onclick= ".../beschaffung") Teilelager
        button(type= "submit" onclick= ".../beschaffung") Endmontage
        button(type= "submit" onclick= ".../beschaffung") Lieferabwicklung
        button(type= "submit" onclick= ".../beschaffung") Distribution Center
        button(type= "submit" onclick= ".../beschaffung") Order Management

    div.thirdclass
        button(type= "submit" onclick= ".../beschaffung") Kunde
        button(type= "submit" onclick= ".../beschaffung") Lieferant
        button(type= "submit" onclick= ".../beschaffung") Spieleleiter
