extends layout

block content

    p Periode/Takt/Phase


    form(action= "/mailbox")
        button(class="buttonTools") Mailbox

    form(action= "/info")
        button(class="buttonTools") Info

    form(action= "/tables")
        button(class="buttonTools") Tabellen

    form(action= "/")
        button(class="buttonTools") ToDo


    p Übergabe Profil-Parameter: #{param1}
    P Übergabe Tool-Parameter: #{param2}


    block profilecontent