extends layout

block content

    link(rel='stylesheet', href='/stylesheets/profile.css')

    h2 Arbeitsplatz:Beschaffung
    h3 Periode:1  Takt:2   Phase:B

    div(class="first")

        form(action= '#{profile}')
            button(class="buttonTools") Mailbox

        form(action= "./info")
            button(class="buttonTools") Info

        form(action= "./tabellen")
            button(class="buttonTools") Tabellen

        form(action= "./")
            button(class="buttonTools") ToDo

    div(class="second")

        form(action= "")
            button(class="done") Fertig


    //p Übergabe Profil-Parameter: #{param}

    //block profilecontent
