extends layout



block content

        link(rel='stylesheet', href='/stylesheets/profilechoice.css')

        p Arbeitsplatzauswahl


        div(class="second")




            button(type= "button" id="button2") Beschaffung
            button(type= "button" id="button2") Teilelager
            button(type= "button" id="button2") Endmontage
            button(type= "button" id="button2") Lieferabwicklung
            button(type= "button" id="button2") Distribution Center
            button(type= "button" id="button2") Order Management



        div(class="third")


            button(type= "button" id="button3") Kunde
            button(type= "button" id="button3") Lieferant
            button(type= "button" id="button3") Spieleleiter
