extends layout

block content

    link(rel='stylesheet', href='/stylesheets/profile.css')

    h1 Arbeitsplatz: Beschaffung
    p Periode: 1  Takt: 2  Phase: B


    div(class="first")

        script.
            var dieUrl = '/' + #{param1} + '/mailbox';

        form(action= dieUrl)
            button(class="buttonTools") Mailbox

        form(action= "/info")
            button(class="buttonTools") Info

        form(action= "/tables")
            button(class="buttonTools") Tabellen

        form(action= "/")
            button(class="buttonTools") ToDo

    div(class="second")

        form(action= "/")
            button(class="done") Fertig


    //p Übergabe Profil-Parameter: #{param1}
    //P Übergabe Tool-Parameter: #{param2}


    //block profilecontent