link(rel='stylesheet', href='/stylesheets/tables.css')

-var i = 0;

each item in nameTables

    span= ""
        button(class="steuerbuttons" id = ''+i onclick="loadContent('#{paramProfil}', '#{paramType}', this.id)") #{item}
        - i = i+1;

span
    p

    case paramProfil
        when 'kunde'
            case numTable
                when '0'
                    include ./Kunde/kunde_auftragsübersicht
                when '1'
                    include

        when 'lieferabwicklung'
            case numTable
                when '2'
                    include ./LagerLieferDispo/lagerLieferDispo_bestellübersicht

        when 'distributioncenter'
            case numTable
                when '2'
                    include ./Distribution Center/distribution_auftragsbearbeitung




