extends profile

block profilecontent

    link(rel='stylesheet', href='/stylesheets/tables.css')

    table
        caption Lagerbestand
        thead
            tr
                th Takt
                th schwarz
                th weiß
                th rot
        tbody
            tr
                th 1
                td 7
                td 5
                td 3
            tr
                th 2
                td 2
                td 4
                td 8
            tr
                th 3
                td 5
                td 6
                td 9
