block profilecontent


    link(rel='stylesheet', href='/stylesheets/endmontage.css')

    table(id="Lagerbestand")
        caption Lagerbestand
        thead
            tr
                th Takt
                th schwarz
                th weiß
                th rot