block profilecontent


    link(rel='stylesheet', href='/stylesheets/endmontage.css')

    table(id="Lagerbestand")
        caption Lagerbestand
        thead
            tr
                th Takt
                th schwarz
                th weiß
                th rot



                extends profile
                block profilecontent

                #{currentTable}

                if (currentTable == "lieferant.jade")
                    include lieferant.jade

                else if (currentTable == "beschaffung.jade")
                    include beschaffung.jade

                else if (currentTable == "vorfertigung.jade")
                    include vorfertigung.jade

                else if(currentTable == "endmontage_lagerbestand.jade")
                    include endmontage_lagerbestand

                else if (currentTable == "lagerLieferDispo.jade")
                    include lagerLieferDispo.jade

                else if (currentTable == "distribution_lagerzugang.jade")
                    include distribution_lagerzugang

                else if (currentTable == "orderManagement.jade")
                    include orderManagement.jade

                else if (currentTable == "kunde.jade")
                    include kunde.jade
