table,
th,
td {
    border: 1px solid black;
    border-collapse: separate;
}

#Lagerzugang{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;

}

#LagerUndUnterwegsbestand{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;

}

#Auftragsbearbeitung{

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;

}


caption{
    margin-bottom: 10px;
    margin-top: 10px;
}

input{
    width:70px;
}