
table,
th,
td {
    border: 1px solid black;
    border-collapse: separate;
}

#Lagerbestand{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;

}

#Lagerzugang{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#Fertigungsplan{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

caption{
    margin-bottom: 10px;
    margin-top: 10px;
}

input{
    width:70px;
}