body{
    background-color: lawngreen;
    color: ghostwhite;
    font-size: 60px;
    font-weight: bold;
    text-align: center;

}

.button{

    width: 170px;
    height: 100px;
    background-color: skyblue;
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;

    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20%;
    
}