body{
    background-image: url("https://s1.cdn.autoevolution.com/images/news/gallery/mercedes-benz-unveils-future-truck-2025-video-photo-gallery_3.jpg");
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-align: center;

}

.button{

    width: 200px;
    height: 120px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20%;

}