block profilecontent

    link(rel='stylesheet', href='/stylesheets/table.css')


    table(class="tabelle")
        caption Auftragsbearbeitung
            thead
                tr
                    th Takt
                    th Anzahl Aufträge
            tbody
                each item in currentTable
                    tr
                        td= item.takt
                        td= item.anzauftraege

                        td(class="button")
                            button(class="button2" onclick="deadEnd()") bearbeiten
                tr
                    td(class="Leerzeile")

                tr
                    td(class="input")
                        input(id="takt" placeholder="Takt")
                    td(class="input")
                        input(id="anzauftraege" placeholder="Menge")

                    td(class="button")
                        button(class="button2") speichern